* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Montserrat'.sans-serif;
    

}

body {
    width: 50%;
    margin: auto;
    font-size: 16px;
}





/* navigazione sito */

#logo {
    width: 100px;
    margin: 0;
    border-bottom: 5px;
    object-fit: cover
}








span{
    text-decoration;
    margin: 0px;
    display: Inline;
    font-weight: bold;
    line-height: 50px;
    width: 150px;
    height: 30px;
    text-align: left;
    
}

a{
    color: grey;
}
    









/* CONTAINER SUPERIORE */
.titolo {
    background-color: rgb(255, 255, 255);
    height: 80px;
    margin-top: 50px;
    
    
    
   

}
/* CONTAINER CENTRALE SUPERIORE */
.centraletop {
    background-color: yellow;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(/img/banner.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}   

#bannercentraletop{
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}





/* CONTAINER CENTRALE INFERIORE */
#backgroundcontainer{
    background-color: rgb(49, 99, 236);
    height: 400px;
   
}

/* COLORE CONTENITORI */
.box {
    background-color:lightblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float:left

}

.sopra {
    background-color:white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.clearfix::after {  
    content: "";
    display: table;
    clear: both;

}

/* 4 container */
    .sopra{
        
        height: 50px;
        margin-bottom: 20px;
    }

    .sinistra {
    height: 310px;
    width: 25%;   
    
    }

    .centrale {
        height: 310px;
        width: 45.75%;
        margin-left: 20px;
        margin-right: 20px;
    
    
    }

    .destra {
        height: 310px;
        width: 25%;   
        
    }

/* fine 4 container */

/* FOOTER */
.inferiore { 
    background-color: white;
    height: 50px;
    margin-top: 20px;
    text-align: center;
}

#cuore{
    color: red;
}